<ion-content>
<ion-list>
  <div id="header">
    <ion-buttons>
      <ion-back-button defaultHref="tabs/tab2/{{meetingKey}}"></ion-back-button>
    </ion-buttons>
    <img style="height: 50px; width: 70px;" src="../../assets/icon/favicon.png" alt="">
  </div>

  <ion-segment [value]="segmentValue" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="drivers">
      <ion-label>Piloti</ion-label>
    </ion-segment-button>
    <ion-segment-button value="positions">
      <ion-label>Classifica</ion-label>
    </ion-segment-button>
  </ion-segment>
  @if(segmentValue === 'drivers'){
  @for(driver of drivers; track $index){
    <ion-item>
      <ion-avatar slot="start">
        <ion-img [src]="driver.headshot_url"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ driver.full_name }}</h2>
        <p>{{driver.team_name}}</p>
      </ion-label>
    </ion-item>
   }
  }
  @if(segmentValue === 'positions'){
    <div class="card">
      <p-chart type="line" [data]="data" [options]="options" />
  </div>
  }
  </ion-list>
</ion-content>
